{% block body %}
    <br>
    <h2>Pesel generator</h2><br>
    <div>Pesel jest generowany na podstawie daty urodzenia oraz czterech ostatnich cyfr tegoż numeru.<br>
        Algorytm został stworzony na potrzeby pokazania jak uzyskać numer pesel idąc do jednej z Krakowskich Klinik.
    </div>
    <br>
    <form method="POST" action="/getpesel">
        Data urodzenia: <input type="date" name="date_born">
        <br>
            {% for error in dateErrors %}
                <div style="color: red">{{ error }}</div>
            {% endfor %}

        {#{{ dateErrors }}<br>#}
        Numer z kliniki: <input type="number" name="number">
        <br>
        {% for error in numberErrors %}
                <div style="color: red">{{ error }}</div>
            {% endfor %}
        <input type="submit" value="Generuj">
    </form>
{% endblock %}
<br>
<strong>Twój numer pesel: {{ peselNumber }}</strong>