{% extends 'base.html.twig' %}

{% block title %}Strona domowa z projektami{% endblock %}

{% block body %}
    <br>
    <h2>Strona domowa z projektami</h2><br>
    <ul>
        <li><a href="https://github.com/skiby1uj/symfonyOdPodstaw">Link do Github</a></li>
        <li><a href="http://pesel.{{ domain }}">Generator pesel</a></li>
    </ul>
{% endblock %}